.ant-menu{
  .ant-menu-item{
    margin: 0;
  }
}


.ant-card-body{
  .ant-table-thead>tr>th{
    text-align: center;
    padding: 10px 8px;
  }
  .ant-table-tbody>tr>td{
    text-align: center;
    padding: 10px 8px;
    button{
      font-size: 12px;
      padding: 0 10px;
    }
  }

}
.ant-modal-content>.ant-modal-body>.ant-form>.ant-form-item{
  font-size: 12px;
  margin-bottom: 12px;
  line-height: 1;
  .ant-select{
    width: 200px;
  }
  .ant-input-number{
    width: 200px;
  }
}


